## ETL Project
By: Jade T. and Jodi H.
## Project Goals:  Extracting Data, Transforming It, and Loading Into a Database

## First Dataset: Goodreads CSV
We are grateful for this clean and organized dataset! Here's a little information about where to find it and what it's creator intended:  
 kaggle source url:  https://www.kaggle.com/jealousleopard/goodreadsbooks
 author description:  "The primary reason for creating this dataset is the requirement of a good clean dataset of books...This prompted me to use the Goodreads API to get a well-cleaned dataset, with the promising features only ( minus the redundant ones ), and the result is the dataset you're at now."

In [ ]:
# Import packages
import pandas as pd
import requests
import json
from pprint import pprint
import itertools

#### Extraction
Extracting this database was simple. We downloaded the csv file from the Kaggle website and read it into a Pandas dataframe.

In [17]:
# Read in Goodreads CSV data
file = 'books.csv'
bookpd_df = pd.read_csv(file)

In [21]:
# Read the csv into a pandas dataframe
# Print the first two lines to see the data and ensure it loaded correctly
bookpd_df.head(2)

,bookID,title,authors,average_rating,isbn,isbn13,language_code,# num_pages,ratings_count,text_reviews_count
0,1,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling-Mary GrandPré,4.56,0439785960,9780439785969,eng,652,1944099,26249
1,2,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling-Mary GrandPré,4.49,0439358078,9780439358071,eng,870,1996446,27613

#### Transform
We transformed this data by jettisoning the columns that did not seem necessary, namely: bookID, isbn13, language_code, num_pages, and the ratings information. Although the bookID would be helpful for indexing, we decided that the isbn number would be a better primary key since it is a universally recognized identifier, rather than this dataset's specific bookID indexing.

In [22]:
# Transform the data to 
clean_books_df = bookpd_df[['title', 'authors', 'average_rating', 'isbn', '# num_pages']]
clean_books_df.head()

,title,authors,average_rating,isbn,# num_pages
0,Harry Potter and the Half-Blood Prince (Harry ...,J.K. Rowling-Mary GrandPré,4.56,0439785960,652
1,Harry Potter and the Order of the Phoenix (Har...,J.K. Rowling-Mary GrandPré,4.49,0439358078,870
2,Harry Potter and the Sorcerer's Stone (Harry P...,J.K. Rowling-Mary GrandPré,4.47,0439554934,320
3,Harry Potter and the Chamber of Secrets (Harry...,J.K. Rowling,4.41,0439554896,352
4,Harry Potter and the Prisoner of Azkaban (Harr...,J.K. Rowling-Mary GrandPré,4.55,043965548X,435

In [42]:
clean_books_df.to_csv('clean_books.csv', index=False)

In [23]:
isbn_list = clean_books_df['isbn'].tolist()

In [24]:
# Print first five items of list to check that it loaded correctly
print(isbn_list[0:4])

['0439785960', '0439358078', '0439554934', '0439554896']

## Second Dataset: Open Library API
Introducing our second dataset: the Open Library API. Their goal, as stated on their website (https://openlibrary.org/about), is: "One web page for every book ever published. It's a lofty but achievable goal." On their site, they have created a free RESTful API to connect to all of the records on their site. The data is somewhat limited since it is publically sourced, but it is also an extensive amount of book records and can be searced by the isbn number, which is ideal for using this API with the Goodreads dataset.

#### Extraction
Note: loading this data is fairly simple due to the ease of the API interaction, however, due to the extensive volume of the list that we are looping through the API, it takes about 5-10 minutes to complete this extraction step. In order to save time, we are looping the completed list into a new document in order to avoid having to loop through the data to extract it.

In [25]:
# Open Library 
url = 'https://openlibrary.org/api/books?'

In [26]:
books_urls = []

for isbn in isbn_list:

    try: 
        query = f'{url}bibkeys=ISBN:{isbn}&format=json'
        response = requests.get(query).json()
        books_urls.append(response['ISBN:{}'.format(isbn)]['info_url'])
        
        
    except: 
        books_urls.append('no response found')

In [28]:
print(books_urls[0:4])

['https://openlibrary.org/books/OL24280830M/Harry_Potter_and_the_Half-Blood_Prince', 'https://openlibrary.org/books/OL24330394M/Harry_Potter_and_the_Order_of_the_Phoenix', 'https://openlibrary.org/books/OL26018592M/Harry_Potter_and_the_Sorcerers_Stone', 'no response found']

In [ ]:
# In order to save the information and avoid having to run the 
with open('books_urls.txt', 'w+') as output:
    for book in book_urls:
        output.write(book+'\n')

In [ ]:
# read in the files 
with open('books_urls.txt', 'r')

#### Transform
Our second data transformation was taking the list of Open Library urls we obtained from the API call and putting them into a different format that could eventually be loaded into a database. The list of isbn numbers that was used again to create a dictionary, with one key being isbn numbers and the other the Open Library urls. From there, we created a dataframe that was made into a csv that we could load into a database.

In [78]:
# Combine the list of isbn numbers from the Goodreads data set with the book_urls list into a dictionary
books_dictionary=dict(zip(isbn_list,books_urls))

In [85]:
# Printing the initial lines of the dictionary to ensure that it loaded correctly
print_dictionary = dict(itertools.islice(books_dictionary.items(), 5))
print_dictionary

{'0439785960': 'https://openlibrary.org/books/OL24280830M/Harry_Potter_and_the_Half-Blood_Prince',
 '0439358078': 'https://openlibrary.org/books/OL24330394M/Harry_Potter_and_the_Order_of_the_Phoenix',
 '0439554934': 'https://openlibrary.org/books/OL26018592M/Harry_Potter_and_the_Sorcerers_Stone',
 '0439554896': 'no response found',
 '043965548X': 'https://openlibrary.org/books/OL27305590M/Harry_Potter_and_the_Prisoner_of_Azkaban_(Book_3)'}

In [92]:
books_urls_df = pd.DataFrame.from_dict(books_dictionary, orient='index').reset_index()
books_urls_df.columns = ['isbn','library_url']
books_urls_df.head(2)

         isbn                                        library_url
0  0439785960  https://openlibrary.org/books/OL24280830M/Harr...
1  0439358078  https://openlibrary.org/books/OL24330394M/Harr...

In [91]:
books_urls_df.to_csv('urls.csv', index=False)

#### Loading 
The final step is to load our two data tables into a Postgres relational database. Both of the datasets we extracted and transformed were very structured. They were also chosen based on a primary key - their shared isbn index. The data was also ACID (atomicity, consistency, isolation, durability) compliant. Therefore, we chose SQL as our database. We loaded the data using Postgres by creating tables, indexed on the primary key, and then imported the data from our two csv files.

## Final Notes
The most difficult part of the project was finding datasets that would be useful. The Goodreads csv was a great place to start, but then finding something that we could pair it with proved challenging. Scraping Amazon or another bookseller website would be ideal, since it would include the isbn number and another value of interest: book price. Automating that process and running it through a loop would be fairly tedious and challenging, however, especially since the process would need to begin again from the home page for each book. An API was a good option, but we were unable to find a reliable API that showed pricing info. The Open Library API was easy to use and still provided another source of information on top of the original csv. If someone were to search the dataset by an isbn number, they could locate the book, the information from goodreads, and likely access it in the Open Library website. From there, there is seller information and more for getting access to the text itself.
### Potential Analysis
Some potential analysis would be to test:  
- how many authors there are total in the database and how many books each author has 
- how many books have an Open Library url vs. how many do not
- the average rating of books with an Open Library url vs. the average rating of the books without an url
- the number of books attributed to an author with an Open Library url vs. the average rating of the books attributed to an author who does not have an Open Library url